.center{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 35%;
  }

  .ion-card{
    background-color: rgb(72, 34, 105);
  }

  .achados{
    width: 100%;
      height: 20%;
      background-color: rgb(144, 78, 202);
    }

  .toolbar{
    background-color: rgb(72, 34, 105);
  }

  .css{
    background: rgb(72, 34, 105);
  }
