<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-button><ion-icon slot="icon-only" name="person-circle"></ion-icon></ion-button></ion-buttons>  
    <ion-title class="toolbar">Criação de cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--
  <ion-item color="danger">
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item color="danger" class="frontend-cadastro">
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="userRegister.email" type="text" required></ion-input>
  </ion-item>

  <ion-item color="danger" class="frontend-cadastro">
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="userRegister.password" type="text" required></ion-input>
  </ion-item>
-->
  <!-- <ion-item color="danger" class="frontend-cadastro">
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input [(ngModel)]="userRegister.confirm" type="text" required></ion-input>
  </ion-item> -->
<!--
  <ion-button  (click)="register()" expand="block">
    Cadastrar
  </ion-button>
  <ion-button class="ion-margin-top" expand="block" color="light" (click)="register()">
    Criar conta
  </ion-button>

  <ion-item color="danger" class="ion-text-center">
    <ion-label>Or</ion-label>
  </ion-item>
-->

<ion-slide>
  <div class="slide-inner ion-padding">
    <span class="span">Faça seu Cadastro</span>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="text" placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>
    </ion-item>

  
    <ion-button  (click)="register()" expand="block">
      Cadastrar
    </ion-button>
    
  </div>
</ion-slide>
  <ion-button color="dark" expand="block" fill="outline" [routerLink]="['../tab3']">Login</ion-button>
  

  <!-- <form #form="ngForm" (ngSubmit)="update(form)">
    <ion-card color="primary" >
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input  type="text" name="nome" [ngModel]="animal.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text" name="descricao" [ngModel]="animal.descricao"></ion-input>                         
    </ion-item>
  </ion-card>
   
    <ion-button type="submit" expand="block">Atualizar</ion-button>
    <ion-button type="cancel" expand="block" color="danger">Excluir</ion-button>
    

  </form>
-->

</ion-content>
