<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar">Animais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">

  <div class="achados">

    <ion-slides pager [options]="slideOpts">
      <ion-slide class="slide1">
        <img src="assets/images/slide1.png">
      </ion-slide>

      <ion-slide class="slide2">
        <img src="assets/images/caofilhote.jpg">
      </ion-slide>
      <ion-slide class="slide3">
        <img src="assets/images/gato.jpg">
      </ion-slide>
    </ion-slides>
  </div>

  <ion-list class="list">
    <ion-card>
      <ion-item-sliding *ngFor='let animal of animais'>
        <ion-item>
          <ion-button [routerLink]="['/tab5', animal.id]">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>
          <div> <ion-card-title class="animalnome"> {{animal.nome}}</ion-card-title> </div>
          <!-- click no botão para editar o animal -->
           <!-- <ion-button [routerLink]="['/tab5', animal.id]">
           <ion-icon name="pencil-outline"></ion-icon> 
          </ion-button>-->
          <ion-thumbnail slot="start">
            <ion-img [src]=animal.url></ion-img>
          </ion-thumbnail>

          <ion-card-content (click)="exibirCadastro(animal.id)">
            <!-- Click no card para exibir o animal -->
            <ion-label hidden> {{animal.id}} </ion-label>
            <!-- <ion-label> {{animal.id}}</ion-label> -->
            <div id="passar_mouse"><b><u class="descricao">Descrição</u></b><div id="mostrar"> {{animal.descricao}} </div></div>
            <ion-label><strong>Local:</strong> {{animal.endereco}}</ion-label>
            <ion-label><strong>Genêro:</strong> {{animal.genero}}</ion-label>
          </ion-card-content>

        </ion-item>
        <ion-item-options side="start">

          <ion-item-option color="success" (click)="compartilhar()">
            <ion-icon name="share"></ion-icon>Compartilhar
          </ion-item-option>

        </ion-item-options>

        <ion-item-options side="end">

          <ion-item-option (click)="deletarAnimal(animal.id)" color="danger">
            <ion-icon name="trash"></ion-icon> Apagar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>




</ion-content>