<ion-header [translucent]="true">
  <ion-toolbar>
   <ion-buttons slot="start"><ion-button><ion-icon slot="icon-only" name="person-circle"></ion-icon></ion-button></ion-buttons>  
   <ion-title class="toolbar">Fotos</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true" >

 <div class= "achados">
   
   <ion-slides>
     <ion-slide class="slide1">
       <img src="assets/images/slidepet.png">
     </ion-slide>

     <ion-slide class="slide2">
       <img src="assets/images/slide1.png">
     </ion-slide>
     <ion-slide class="slide3">
       <img src="assets/images/slidepet.png">
     </ion-slide>
   </ion-slides>
 </div>

 <form>
  <ion-item>
    <ion-label position="floating" name="nome">{{animal.nome}}</ion-label>
    <ion-input  type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" name="descricao"></ion-label>
    <ion-input type="text"></ion-input>                         
  </ion-item>

  <ion-item>
    <ion-label position="floating"  name="endereco"></ion-label>
    <ion-input type="text"></ion-input>                         
  </ion-item>

  <ion-item>
    <ion-label position="floating" name="genero"></ion-label>
    <ion-input type="text"></ion-input>                         
  </ion-item>

</ion-content>
 <!-- <h3>{{animal.nome}}</h3>
 <p><strong>Descrição:</strong> {{animal.descricao}}.  </p>
 <p><strong>Local:</strong>{{animal.endereco}}</p>
 <p><strong>Genêro:</strong>{{animal.genero}}</p> -->

 
